body {
	background: rgba(0,0,0,10);
}

.wrapper {
	background:pink;
	padding: 1rem;
	display: grid;
	place-items: center;
	height: 90vh;
}

.game-container {
	display: flex;
	flex-flow: column;
}

.game-container h1 {
	text-align: center;
}

.play-window {
	display: flex;
	gap: 3rem;
	align-items: center;
}

.play-window p {
	text-align:center;
}

.play-area {
	width: 210px;
	height: 210px;
	background: black;
	display: grid;
	place-items: center;
}

.play {
	width: 200px;
	height: 200px;
	background: white;
}

.play-area img {
	width: 200px;
}

.option-window {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	gap:1rem;
}

.option-window img {
	height: 60px;
}

table, td, tr {
	border: 1px solid black;
}

td, tr {
	text-align:center;
	width: 100px;
}

table {
	border-collapse: collapse;
}

table tr:first-child {
	font-weight: bold;
}

.table h3 {
	text-align:center;
}
